<% content_for(:navbar) do %>

<% end %>

<h1>Blog Page</h1>
<span><%= link_to "Add blog", new_blog_path(@blog), id: "new_link", remote: true %></span>

<% @blogs.each do |blog| %>
  <%= render blog %>
<% end %>
