<% content_for(:navbar) do %>
<%= link_to "Add blog", new_blog_path(@blog), remote: true %>
<% end %>

<h1>Blog Page</h1>
<span id="new_link"></span>

<% @blogs.each do |blog| %>
  <%= render blog %>
  <div id="<%= blog.id %>">
  </div>
<% end %>
