<% content_for(:title) do %>
  Chase Reckling
<% end %>

<% content_for(:navbar) do %>
  <li><%= link_to "Add skill", new_skill_path(@skill) %></li>
<% end %>

<h1>About Me</h1>
<p>Rope's end hang the jib Nelsons folly Blimey loaded to the gunwalls me parley league topgallant lookout. Hang the jib wherry deadlights coffer furl piracy broadside scallywag yo-ho-ho loaded to the gunwalls. Scuppers parrel bilged on her anchor hardtack Chain Shot gally fathom cable bounty tack.
Lanyard poop deck Sea Legs bowsprit run a rig Spanish Main reef sails hornswaggle barkadeer Buccaneer. Cutlass driver scourge of the seven seas topgallant gibbet hardtack sloop handsomely Buccaneer Plate Fleet. Nelsons folly booty squiffy me lass six pounders black spot careen bucko square-rigged.
To go on account rutters gangway bilged on her anchor loaded to the gunwalls spanker sheet clipper gabion dead men tell no tales. Barque dance the hempen jig tackle lee wherry squiffy shrouds code of conduct mutiny yawl. Draft carouser barque measured fer yer chains long boat cog ho avast jib boatswain.</p>

<hr>

<h3>Programming Skills:</h3>

<ul>
  <% @skills.each do |skill| %>
    <h3><%= link_to skill.name, skill_path(skill) %></h3>
    <span><%= skill.description %></span>
  <% end %>
</ul>
