<h1><%= @skill.name %></h1>

<span><%= link_to "Edit Skill", edit_skill_path(@skill) %></span>
<span><%= link_to "Delete Skill", skill_path(@skill), :data => {:confirm => "you sure you want to delete this skill?", :method => "delete"} %></span>

<p><%= link_to "Return to homepage", skills_path %></p>
